extends layout

include mixins/form

block tools
  mixin tools('show', page.base.name)

block content

  #content.show
    span(style="float:right")
      |#{age}
      |&nbsp;|&nbsp;
      a(href="/meta/#{page.base.xid}") history
      |&nbsp;|&nbsp;
      a(href="/viki/#{repo}/#{title}") latest
    h1 #{title}

    !=content

  p.footer Updated by&nbsp;
    if commit.email
      img(src=gravatar().url("#{commit.email}", {s:16}))
    b  #{commit.author}
    |,&nbsp;
    | #{commit.timestamp} &ndash; #{page.base.xlink}

  #content.discuss

    h2 Discussion

    if comments
      each comment in comments
        if comment.comment.email
          img(src=gravatar().url("#{comment.comment.authorEmail}", {s:20}))
          | &nbsp;
        a(href="#{comment.comment.authorLink}") #{comment.comment.authorName}
        | &nbsp; &ndash; 
        a(href="/view/#{comment.base.xlink}") #{comment.base.timestamp} 
        | (#{comment.comment.age})

        .well.well-sm
          !=comment.as.html

    h3 Add Comment

    a(id="addComment")
    form(action='#{commentLink}', method='post', class='edit')
      .form-group
        textarea.form-control(name="comment", data-widearea="enable", rows=2)#editor

      mixin saveAndCancel()

  #content.vote

    h2 Votes

    if votes
      table.table-bordered.table-hover.table-condensed
        tr
          td name
          td vote
          td when
          td comment
        each vote in votes
          tr
            td
              if vote.author.agent.contact.email
                img(src=gravatar().url("#{vote.author.agent.contact.email}", {s:20}))
                | &nbsp;
              a(href="#{vote.author.link}") #{vote.author.agent.contact.name}
            td 
              a(href="#{vote.vote.link}") #{vote.vote.vote}
            td #{vote.vote.age}
            td #{vote.vote.comment}
    p

    if voteResults
      table.table-bordered.table-hover.table-condensed
       tr
         td approvals
         td rejections
         td abstentions
         td result
         td time left
       tr
         td #{voteResults.approvals}
         td #{voteResults.rejections}
         td #{voteResults.abstentions}
         td #{voteResults.result}
         td #{voteResults.timeLeft}

    p

    h3 Vote

    a(id="addVote")
    form(action='#{voteLink}', method='post', class='edit')
      .well
        input(type='submit',name='vote',value=approveText || 'Approve').btn.btn-primary
        |&nbsp;
        input(type='submit',name='vote',value=rejectText || 'Reject').btn
        |&nbsp;
        input(type='submit',name='vote',value=abstainText || 'Abstain').btn
      span (comment optional)
      .form-group
        textarea.form-control(name="comment", data-widearea="enable", rows=2)#editor
