extends layout

include mixins/form
include mixins/assets

block tools
  mixin pagetools(page)

block content

  #content.show
    span(style="float:right")
      if page.navigation
        if page.navigation.first
          a(href="/vpage/#{page.navigation.first}") first&nbsp;
        if page.navigation.prev
          a(href="/vpage/#{page.navigation.prev}") prev&nbsp;
        if page.navigation.next
          a(href="/vpage/#{page.navigation.next}") next&nbsp;
        if page.navigation.last
          a(href="/vpage/#{page.navigation.last}") last&nbsp;
        |&nbsp;|&nbsp;
        | #{page.navigation.version}
      |&nbsp;|&nbsp;
      |#{age}

    h1 #{title}

    !=content

  p.footer Updated by&nbsp;
    if commit.email
      img(src=gravatar().url("#{commit.email}", {s:16}))
    b  #{commit.author}
    |,&nbsp;
    | #{commit.timestamp} &ndash; #{page.base.xlink}

  mixin commentSection(comments, commentLink)

  mixin voteSection(votes, voteResults, voteLink)
