extends layout

include mixins/form

block tools
  mixin tools('show', page.base.xlink)

block content

  #content.show
    span(style="float:right")
      a(href="/meta/#{page.base.xid}") #{age}
    h1 #{title}

    !=content

  p.footer Updated by&nbsp;
    if commit.email
      img(src=gravatar().url("#{commit.email}", {s:16}))
    b  #{commit.author}
    |,&nbsp;
    | #{commit.timestamp} &ndash; #{page.base.xlink}

  #content.discuss

    h2 Discussion

    if comments
      each comment in comments
        if comment.comment.email
          img(src=gravatar().url("#{comment.comment.email}", {s:60}))
          | &nbsp;
        a(href="#{comment.comment.authorLink}") #{comment.comment.authorName}
        | &nbsp; &ndash; 
        | #{comment.base.timestamp} (#{comment.comment.age})
        | &nbsp; &ndash; 
        a(href="#{comment.comment.link}") #{comment.base.xlink}

        .well
          !=comment.as.html

    h3 Add Comment

    form(action='#{addCommentLink}', method='post', class='edit')
      .form-group
        textarea.form-control(name="comment", data-widearea="enable", rows=2)#editor

      mixin saveAndCancel()
