extends layout

include mixins/form

block tools
  mixin tools('show', metadata.base.xlink)

block content

  #content.show
    span(style="float:right")
      a(href="/meta/#{metadata.base.xid}") #{age}
    h1 #{title}

    !=content

  p.footer Updated by&nbsp;
    if commit.email
      img(src=gravatar().url("#{commit.email}", {s:16}))
    b  #{commit.author}
    |,&nbsp;
    | #{commit.timestamp} &ndash; #{metadata.base.xlink}

  #content.discuss

    h2 Discussion

    h3 Add Comment

    form(action='#{addCommentLink}', method='post', class='edit')
      .form-group
        textarea.form-control(name="comment", data-widearea="enable", rows=2)#editor

      mixin saveAndCancel()
