extends layout

include mixins/assets

block content
  - var proposal = asset.data.proposal
  - var statuses = [ 'wip', 'voting', 'passed', 'rejected', 'withdrawn' ]

  h1 Edit: #{metadata.asset.name}

  form(action='/save/#{metadata.base.xlink}', method='post', class='edit')
    .form-group
      table.table-bordered.table-hover.table-condensed
        tr
          td Title
          td 
            input.form-control(type='text', placeholder='', name='proposal.title', value="#{proposal.title}")
        tr
          td Sponsor
          td 
            input.form-control(type='text', placeholder='', name='proposal.sponsor', value="#{proposal.sponsor}")
        tr
          td Status
          td
            select(name="proposal.status")
              for status in statuses
                option(selected= status == proposal.status) #{status}

        tr
          td Text
          td 
            textarea.form-control(name="proposal.text", data-widearea="enable", rows=10) #{proposal.text}
        tr
          td Rationale
          td 
            textarea.form-control(name="proposal.rationale", data-widearea="enable", rows=4) #{proposal.rationale}

      .well
        input(type='submit',value='Save').btn.btn-primary
        |&nbsp;
        a(href="/view/#{metadata.base.xlink}").btn Cancel
