extends layout

include mixins/assets

block content
  h1 Edit: Proposal #{asset.getProposalId()}


  table.table-bordered.table-hover.table-condensed
    tr
      td type:
      td
        select(name="proposalType")
          for type in asset.getProposalTypes()
            option(selected = type==asset.getProposalType()) #{type}
    tr
      td status:
      td 
        select(name="status")
          for status in asset.getStatuses()
            option(selected = status==asset.getStatus()) #{status}
    tr
      td sponsor(s):
      td
        input.form-control(required, type='text', placeholder='sponsors', name='sponsors', value="#{asset.getSponsors()}")
    tr
      td title:
      td
        input.form-control(required, type='text', placeholder='sponsors', name='sponsors', value="#{asset.getTitle()}")

  h2 content
  !=asset.getProposalContent()

  h2 rationale
  !=asset.getRationale()
