extends layout

include mixins/form

block content

  h1 revisions of #{name}
  p
    button(id="rev-compare", data-pageName="#{name}").btn.btn-primary Compare revisions

  table.history.table.table-striped.table-bordered.table-hover.table-condensed
    each version in versions
      tr
        td
          input(type="checkbox", value="#{version.commit.substring(0,8)}")
        td #{version.version}
        td 
          a(href="/vpage/#{version.xlink}") #{version.timestamp}
        td
          if version.branch.commit.email
            img(src=gravatar().url("#{version.branch.commit.email}", {s:16}))
            |&nbsp;
          |#{version.branch.commit.author}
        td #{version.branch.commit.message}
