include form

mixin pagetools(page)
  ul
    if !isAnonymous()
      li
        a(href="/new/page", title="Create new page").btn.btn-sm.btn-default
          i.icon.ion-plus-round

    if !isAnonymous() && canEdit
      li
        a(href="/edit/#{page.base.xlink}", title="Edit this page").btn.btn-sm.btn-default
          i.icon.ion-compose

    li
      a(href="/versions/#{page.base.xid}", title="Page history").btn.btn-sm.btn-default
        i.icon.ion-clock
    li
      a(href="/list/wiki", title="All pages").btn.btn-sm.btn-default
        i.icon.ion-grid

mixin versionInfo(snapshot, nav)
  table.table-bordered.table-hover.table-condensed
    tr 
      td author
      td #{snapshot.author} (#{snapshot.email})
    tr
      td message
      td #{snapshot.message}
    tr
      td timestamp
      td #{snapshot.timestamp}
    tr
      td navigation
      td
        if nav.first
          a(href="../#{nav.first}") first&nbsp;
        else
          span first&nbsp;

        if nav.prev
          a(href="../#{nav.prev}") prev&nbsp;
        else
          span prev&nbsp;

        if nav.link
          a(href="/meta/#{nav.link}") [metadata]&nbsp;
        else
          span [metadata]&nbsp;

        if nav.next
          a(href="../#{nav.next}") next&nbsp;
        else
          span next&nbsp;

        if nav.last
          a(href="../#{nav.last}") last&nbsp;
        else
          span last&nbsp;

    tr
      td version
      td
        span #{nav.version}

mixin showMetadata(metadata) 
  table.table-bordered.table-hover.table-condensed
    each type, section in metadata
      tr 
        td(colspan=2, style="text-align:center; font-weight:bold") #{section}
      each val, key in type
        tr
          td #{key}
          td #{val}

mixin editMetadata(xlink, metadata) 
  form(action='/save/#{xlink}', method='post', class='edit')
    .form-group
      table.table-bordered.table-hover.table-condensed
        each type, section in metadata
          tr 
            td(colspan=2, style="text-align:center; font-weight:bold") #{section}
          each val, key in type
            tr
              td #{key}
              td 
                input.form-control(type='text', placeholder='', name='#{section}.#{key}', value="#{val}")
      .well
        input(type='submit',value='Save').btn.btn-primary
        |&nbsp;
        a(href="/view/#{xlink}").btn Cancel

mixin JsonTable(dict) 
  table.table-bordered.table-hover.table-condensed
    each val, key in dict
      tr
        td #{key}
        td #{val}

mixin footer()
  p.footer Updated by&nbsp;
    if commit.email
      img(src=gravatar().url("#{commit.email}", {s:16}))
    b  #{commit.author}
    |,&nbsp;
    | #{commit.timestamp} &ndash; #{metadata.base.xlink}


mixin commentSection(comments, commentLink)
    h2 Discussion

    if comments
      each comment in comments
        if comment.comment.email
          img(src=gravatar().url("#{comment.comment.authorEmail}", {s:20}))
          | &nbsp;
        a(href="#{comment.comment.authorLink}") #{comment.comment.authorName}
        | &nbsp; &ndash; 
        a(href="/view/#{comment.base.xlink}") #{comment.base.timestamp} 
        | (#{comment.comment.age})

        .well.well-sm
          !=comment.as.html

    h3 Add Comment

    a(id="addComment")
    form(action='#{commentLink}', method='post', class='edit')
      .form-group
        textarea.form-control(name="comment", data-widearea="enable", rows=2)#editor

      mixin saveAndCancel()
